<h1 >Campaign edit</h1>
<%= render "edit_buttons"%>
	<% form_tag(:action => "update", :id => @campaign) do %>
		<%= render "input"%>
	<%= submit_tag "Save" %>
<% end -%>

<%= render "edit_buttons"%>

<%= link_to "Back", :action => 'list' %>