<h1>Campaigns</h1>


<div id="campaign_list">
	<hr />
	<% form_tag(:action => "new") do %>
			<h2>All campaigns 
	  	<%= submit_tag "new" %>
			</h2>
	<% end -%>
	
	
	<% if @campaigns.blank? %>
		<p> There are not any cacmpaigns </p>
	<% else %>
	<table id='table'>
		<tr class='head'>
			<td class='name'> Campaign Name </td>
			<td class='status'> Status </td>
			<td class='created'>Created at </td>
		</tr>
		<% @campaigns.each do |c| %>
			<tr class='body'>
			<td> <%= link_to c.name, {:action => 'edit', :id => c.id} %></td>
			<td> <%= c.status %> </td>
			<td> <%= c.created_at.to_date %> </td>
			<td class='button'>
				<% form_tag({:action => "delete", :id => c.id}) do %>
				  	<%= submit_tag "delete", :onclick => "return confirm('Are you sure?')"  %>
				<% end -%>
			</td>
			<tr>
		<% end %>
		
	</table>
	<% end %>
</div>


		
	  